body {
  /* max-width: 1280px; */
  width: 100%;
  margin: 0 auto;
  padding-top: rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #000000;
}

.ant-drawer-body {
  border-top: 2px solid #5e646d;
  background-color: #000000d6;
  font-weight: 600;
  font-size: larger;
  height: calc(100vh);
  padding: 0px !important;
}
.ant-drawer-header {
  background-color: rgb(39, 39, 39);
}

.ant-drawer-close  {
  color: #fff !important;
}
